<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title>Heimdall Debug Console</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/css/debugger.css") %>" />
<% # Load all the lib stylesheets:
   Dir.glob(File.join(Heimdall.config.public_folder, 'js', 'lib',
       '*.css')).each do |file|
     name = File.basename file %>
  <link rel="stylesheet" type="text/css" href="<%= url("/js/lib/#{name}") %>" />
<% end %>
<% # Load all the visual stylesheets:
   Dir.glob(File.join(Heimdall.config.public_folder, 'js', 'visual',
       '*.css')).each do |file|
     name = File.basename file %>
  <link rel="stylesheet" type="text/css" href="<%= url("/js/visual/#{name}") %>" />
<% end %>
<% #TODO: download and include these scripts/move to public %>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
<% # Heimdall JS engine: %>  
  <script src="<%= url("/js/heimdall.js") %>"></script>
<% # Load all the libs:
   Dir.glob(File.join(Heimdall.config.public_folder, 'js', 'lib', '*.js')).each do |file|
     name = File.basename file %>
  <script src="<%= url("/js/lib/#{name}") %>"></script>
<% end %>
<% # Load all the visual modules:
   Dir.glob(File.join(Heimdall.config.public_folder, 'js', 'visual', '*.js')).each do |file|
     name = File.basename file %>
  <script src="<%= url("/js/visual/#{name}") %>"></script>
<% end %>
  <script>
$(document).ready(function(){
<% if (@show_list) %>
    $("#editor").css("display", "none");
    $("#script-list").css("display", "block");
    $("#menu-editor").css("background", "#BBB");
    $("#menu-list").css("background", "#CCC");
<% end %>
    // Side panel buttons
    $("#menu-editor").click(function() {
        $("#editor").css("display", "block");
        $("#script-list").css("display", "none");
        $("#menu-editor").css("background", "#CCC");
        $("#menu-list").css("background", "#BBB");
    });
    $("#menu-list").click(function() {
        $("#editor").css("display", "none");
        $("#script-list").css("display", "block");
        $("#menu-editor").css("background", "#BBB");
        $("#menu-list").css("background", "#CCC");
    });
    $("#menu-hide").click(function() {
        $("#menu").css("display", "none");
        $("#editor").css("display", "none");
        $("#script-list").css("display", "none");
        $("#show-editor").css("display", "block");
        $("#visual-container").css("width", "calc(100% - 3.2em)");
    });
    $("#show-editor").click(function() {
        $("#menu").css("display", "block");
        $("#menu-editor").css("background", "#CCC");
        $("#menu-list").css("background", "#BBB");
        $("#editor").css("display", "block");
        $("#script-list").css("display", "none");
        $("#show-editor").css("display", "none");
        $("#visual-container").css("width", "calc(100% - 33.5em)");
    });

    // Disable save/execute when no name present
    function checkName() {
        if ($('#name').val() == '') {
            $('#save')[0].disabled = true;
        } else {
            $('#save')[0].disabled = false;
        };
    };
    $('#name').on('input', null, null, function() {
        checkName();
    });
    checkName();

    // Toggle/remapping of classes for script list
    function remapScriptList(showSystem) {
        var items = $('.list-row');
        items.removeClass('list-row-even');
        items.removeClass('list-row-odd');
        var count = 0;
        items.each(function(i) {
            if (count % 2 == 0) {
                $(this).addClass('list-row-even');
            } else {
                $(this).addClass('list-row-odd');
            }
            if (showSystem || !$(this).hasClass('list-row-system')) {
                count++;
            };
        });
    }
    $('#script-list-bottom').click(function () {
        if ($('#script-list-bottom').text() == 'show system scripts') {
            $('#script-list-bottom').text('hide system scripts');
            $('.list-row-system').css('display', 'block');
            remapScriptList(true);
        } else {
            $('#script-list-bottom').text('show system scripts');
            $('.list-row-system').css('display', 'none');
            remapScriptList(false);
        }
    });
    remapScriptList(false);

    // Load our script
    Heimdall.run("#visual-container", "<%= @name %>", <%= @args_json %>);
});
  </script>
</head>
<% #TODO: need to test all of this in firefox, safari? %>
<body>
  <div id="visual-container"></div>
  <div id="menu">
    <span id="menu-editor">Editor</span>
    <span id="menu-list">Scripts</span>
    <span id="menu-name">Heimdall Debug Console v<%= Heimdall::VERSION %></span>
    <span id="menu-hide">&mdash;</span>
  </div>
  <div id="show-editor">
    <div id="show-editor-padding"></div>
    <span id="show-editor-button">&lt;<br /><br />&lt;<br /><br />&lt;</span>
  </div>
  <div id="editor">
    <form id="editor-form" action="/debugger">
      <div id="name-box">
<% if (Heimdall.store.system?(@name)) %>
        Script Name: <input type="text" id="name" name="name-disabled" value="<%= @name %>" disabled />
        <input type="submit" name="load" class="submit" value="Load" disabled />
      </div>
      <div id="text-box">
        <textarea name="script-disabled" id="script" disabled>
[system script: can not be edited]

<%= @script %></textarea>
        <input type="hidden" name="name" value="<%= @name %>" />
        <input type="hidden" name="script" value="<%= @script %>" />
<% else %>
        Script Name: <input type="text" id="name" name="name" value="<%= @name %>" />
        <input type="submit" name="load" class="submit" value="Load" />
      </div>
      <div id="text-box">
        <textarea name="script" id="script"><%= @script %></textarea>
<% end %>
      </div>
      <div id="args-box">
        Params: <input type="text" id="args" name="args" value="<%= @args %>" />
      </div>
      <div id="button-box">
        <input type="submit" id="save" name="save" class="submit" value="<% if (!Heimdall.store.system?(@name)) %>Save/<% end %>Execute" />
        <input type="submit" name="clear" class="submit" value="Clear" />
      </div>
    </form>
  </div>
  <div id="script-list">
    <div id="script-list-list">
      <% @list.each do |name| %>
      <form class="list-form" action="/debugger">
        <% system = Heimdall.store.system?(name) %>
        <div class="list-row<%= system ? ' list-row-system' : ''  %>">
          <input type="submit" name="load-<%= name %>" class="submit-short" value="Load" />
<% if (system) %>
          <input type="submit" name="delete-<%= name %>" class="submit-short" value="Delete" disabled />
<% else %>
          <input type="submit" name="delete-<%= name %>" class="submit-short" value="Delete" />
<% end %>
          <input type="hidden" name="name" value="<%= name %>" />
<% if (Heimdall.store.system?(name)) %>
          <span style="color: #700;">[system]</span> <%= name %>
<% else %>
          <%= name %>
<% end %>
        </div>
      </form>
      <% end %>
    </div>
    <div id="script-list-bottom">show system scripts</div>
  </div>
</body>
